<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
    <body>
        <a href="/">Home</a>
        <a href="/blog/">Blog</a>
        <a href="/about/">About</a>
        <h1>Anuj's Blog</h1>
        <h2>This is my main blog page where I will post updates on my game development!!!</h2>
    
        <p>I am currently working on a personal RPG project for my portfolio</p>
    
        <p>This site will update as I make more progress! So keep checking back and see how my journey is going!</p>
    </body>
</html>